* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "nav" "filtros" "main" "footer";
    height: 100vh;
}

/* Barra de navegacion */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #2faa58;
    color: #fff;
    grid-area: nav;
}

.nav div {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav i {
    font-size: 20px;
}

.secciones {
    visibility: hidden;
}

.secciones div {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.secciones div:hover {
    color: #4f5b62
}


.filtros {
    background-color: #eeeeee;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    grid-area: filtros;
}

.filtros select {
    width: 200px;
    margin-top: 10px;
    border: none;
    height:30px;
}


.main {
    display: flex;
    flex-direction: column;
    grid-area: main;
    overflow: auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);

}

.card img {
    width: 100%;
    margin-top: 10px;
}

.card button {
    border: none;
    background-color: #2377a1;
    color: #fff;
    padding: 10px;
    width: 25%;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}
.paginador {
    display: flex;
    padding: 20px;
    gap: 2px;
    justify-content: center;
}

.paginador button {
    
    padding: 5px 10px;
    border-color: #eeeeee;
    background-color: #fff;
    cursor: pointer;
}

.footer {
    background-color: #000a12;
    padding: 20px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-area: footer;
    font-weight: 700;
}

.footer i {
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
}

.footer i:hover {
    color: #2980b3
}

/* Media querie para desktop */

@media (min-width: 576px) {
    .grid {
        grid-template-columns: 1fr 4fr;
        grid-template-areas: 
            "nav filtros"
            "nav main"
            "footer main";
    }

    .nav {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .secciones {
        display: flex;
        flex-direction: column;
        align-items: center;
        visibility: visible;
        padding-top: 25px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .fa-solid {
        visibility: hidden;
    }
}

